.idea
.DS_Store

# Widevine stuff
*.wvd
client_id.bin
private_key.pem

# Final file
*.mkv

# Debug dump
*.enc
*.mp4
*.xml
*.m4a
*.mp3

# build result
/crunchyroll-downloader

# Test data (commit these)
!internal/lib/testdata/**
